<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Flagbit_Seosimpleproduct>
            <active>true</active>
            <codePool>local</codePool>
            <version>0.1.0</version>
        </Flagbit_Seosimpleproduct>
    </modules>
    <global>
        <blocks>
            <flagbit_seosimpleproduct>
                <class>Flagbit_Seosimpleproduct_Block</class>
            </flagbit_seosimpleproduct>
            <catalog>
                <rewrite>
                    <product_view>Flagbit_Seosimpleproduct_Block_Product_View</product_view>
                </rewrite>
            </catalog>
        </blocks>
        <models>
            <flagbit_seosimpleproduct>
                <class>Flagbit_Seosimpleproduct_Model</class>
            </flagbit_seosimpleproduct>
        </models>
    </global>
    <frontend>
        <events>
            <catalog_controller_product_init_before>
                <observers>
                    <flagbit_seosimpleproduct>
                        <type>singleton</type>
                        <class>flagbit_seosimpleproduct/Observer</class>
                        <method>redirectSimpleToConfig</method>
                    </flagbit_seosimpleproduct>
                </observers>
            </catalog_controller_product_init_before>
            <!--catalog_controller_product_init>
                <observers>
                    <flagbit_seosimpleproduct>
                        <type>singleton</type>
                        <class>flagbit_seosimpleproduct/Observer</class>
                        <method>setProduct</method>
                    </flagbit_seosimpleproduct>
                </observers>
            </catalog_controller_product_init//-->
        </events>
    </frontend>
</config>